.frame {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  border: solid;
  border-color: black;
  height: 50%;
  padding: 10px;
}
.guessCorrectionMessage {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  height: 50%;
  padding: 10px;
}
